body {
    font-family: "Segoe UI", "Arial";
}

#index-header {
    padding: 10px;
}

.center-text { text-align: center; }

hr {
    /* display for heading */
    display: inline-block;
    width: 40%;

    /* change color and thickness */
    border: none;
    height: 3px;
    background-color: black;
}

#song-list {
    margin: 0;
}

.chords {
    font-weight: bold;
}
.chords, .lyrics {
    margin-left: 10%;
    display: inline;

}
.verse-head {
    font-style: italic;
    text-decoration: underline;
    margin-left: 5%;
}
.verse-goto {
    font-style: italic;
    text-decoration: underline;
}
#song {
    font-family: monospace;
    width: 75%;
    float: left;
}
#sidebar {
    width: 20%;
    float: right;
}

@media print {
    /* Do this to avoid cutting verses off across pages. */
    .verse {
        page-break-inside: avoid;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }

    /* max width */
    #song {
        width: 100%;
    }
}
