body {
    font-family: "Segoe UI", "Arial";
}

#index-header {
    padding: 10px;
}

.center-text { text-align: center; }

hr {
    /* display for heading */
    display: inline-block;
    width: 40%;

    /* change color and thickness */
    border: none;
    height: 3px;
    background-color: black;
}

/* This only works when the user's browser supports CSS3. */
.bg-fade {
    transition: background 0.5s linear;
}

.box {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 3px;
    margin: 10px 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#song-list {
    margin: 0;
}
#song {
    font-family: monospace;
    width: 75%;
    float: left;
}
#sidebar {
    width: 20%;
    float: right;
}

@media print {
    /* Do this to avoid cutting verses off across pages. */
    .verse {
        page-break-inside: avoid;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }

    /* max width */
    #song {
        width: 100%;
    }
}

/* Base level styles so that themes don't have repeated things */
.verse.chords, .verse.lyrics {
    margin-left: 10%;
    display: inline;
}
.verse.title {
    margin-left: 5%;
}
