.chords {
    font-weight: bold;
}
.chords, .lyrics {
    margin-left: 10%;
    display: inline;

}
.verse-head {
    font-style: italic;
    margin-left: 5%;
}
#song {
    font-family: "Anonymous Pro", monospace;
    width: 75%;
    float: left;
}
#sidebar {
    width: 20%;
    float: right;
}

@media print {
    /* Do this to avoid cutting verses off across pages. */
    .verse {
        page-break-inside: avoid;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }

    /* max width */
    #song {
        width: 100%;
    }
}
