.chords {
    font-weight: bold;
}
.chords, .lyrics {
    margin-left: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;

}
.verse-head {
    font-style: italic;
    margin-left: 5vw;
}
#song {
    font-family: "Anonymous Pro", monospace;
    width: 75vw;
    float: left;
}
#sidebar {
    width: 20vw;
    float: right;
}

@media print {
    /* Do this to avoid cutting verses off across pages. */
    .verse {
        page-break-inside: avoid;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }
}
