<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- There's JS code to handle what the href of this element becomes. -->
    <link id="themeCssElement" rel="stylesheet" type="text/css" href="">

    <script type="text/javascript" src="js/vendor/anchor.js"></script>
    <link rel="stylesheet" href="css/vendor/anchor.css">
</head>


<body>
    <h1 class="center-text">{{title}}</h1>
    <div id="song" style="display: none;">
        {{{song_html}}}
    </div>

    <div id="sidebar">
    <h3>Toolbox</h3>

    <label for="fontSize">Font size: <input type="text" id="fontSize"></label>
    <br />
    <label for="viewSelector">View Mode: <select id="viewSelector">
        <option value="0">Lyrics and Chords</option>
        <option value="1">Just Lyrics</option>
    </select></label>
    <br />
    <label for="themeSelector">Select Theme:<select id="themeSelector"></select></label>
    <br />
    <button type="button" id="printButton">Print!</button>
</div>

<script type="text/javascript" src="js/vendor/jquery.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>
